<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
  <h1>User:</h1>
</head>
<body>


  <p th:text="${users.getId()}">VALUE</p>
  <p th:text="${users.getName()}">VALUE</p>
  <p th:text="${users.getSurname()}">VALUE</p>
  <p th:text="${users.getAge()}">VALUE</p>
  <p th:text="${users.getEmail()}">VALUE</p>

<br>


  <a th:href="@{/{id}/replacement(id=${users.getId()})}">Update</a>

  <br>
  <br>
  <form th:method="DELETE" th:action="@{/{id}(id=${users.getId()})}">
    <input type="submit" value="DELETE USER">
  </form>

</body>
</html>